<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Medium Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
        type="text/css" media="screen" charset="utf-8">
    <!-- EndMedium Editor -->

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
</head>

<body class="loader">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'post_list' %}">My Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.github.com">Github</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class='navbar-nav ml-auto nav3'>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'post_new' %}">New Post</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'post_draft_list' %}">Drafts</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}">Log Out</a>
                </li>
                <li class="nav-item">
                    <a>Welcome : {{ user.username }} </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="btn btn-info btn-lg">
                        <span class="fa fa-user"></span> Log In
                    </a>
                </li>
                {% endif %}
            </ul>

        </div>
    </nav>

    <div class='content container'>
        <div class='row'>
            <div class='col-md-8'>
                <div class='blog_posts'>
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>

    <!-- <nav class="navbar navbar-expand-lg techfont navbar-light bg-light">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand bigbrand" href="{% url 'post_list' %}">My Blog</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="https://www.github.com">GitHub</a></li>
            </ul>
        </div>
    </nav>
    <ul class='nav navbar-nav navbar-right'>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'post_new' %}">New Post</a>
        </li>
        <li>
            <a href="{% url 'post_draft_list' %}">Drafts</a>
        </li>
        <li>
            <a href="{% url 'logout' %}">Log Out</a>
        </li>
        <li>
            <a>Welcome : {{ user.username }} </a>
        </li>
        {% else %}
        <li><a class='nav navbar-right' href="{% url 'login' %}"><span class='glyphicon glyphicon-user'>A</span></a>
        </li>
        {% endif %}
    </ul>

    <div class='content container'>
        <div class='row'>
            <div class='col-md-8'>
                <div class='blog_posts'>
                    
                </div>
            </div>
        </div>
    </div> -->
</body>

</html>